.nav {
  background-color: #000;
  color: #fff;
}
.header {
  height: 90px;
}
.header-logo {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Proxima Nova';
  margin-top: 23px;
}
.header-menu {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-family: 'Proxima Nova Regular';
  margin-right: 40px;
  margin-top: 35px;
}
.header-menu:hover {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-family: 'Proxima Nova Regular';
  margin-right: 40px;
  margin-top: 35px;
}
.box {
  float: right;
}
.sing-up {
  font-weight: 600;
  width: 96px;
  border: 2px solid #c53b3b;
  border-radius: 10px;
  margin-top: 23px;
  font-size: 16px;
  font-family: 'Proxima Nova Regular';
  padding: 6px 19px 3px 19px;
  color: #c53b3b;
}
.video {
  background-color: #666666;
  color: #fff;
  height: 820px;
}
.video span {
  margin-left: -35px;
  font-size: 16px;
  font-family: 'Proxima Nova Regular';
  color: #ca3c3c;
}
.header-prime {
  margin-left: -35px;
  margin-top: 337px;
  font-size: 60px;
  font-family: 'Proxima Nova Thin';
  line-height: 1;
}
